/* =========================
   Couleurs principales
========================= */
$color-primary: #8abd24;
$color-primary-dark: #6f991b;
$color-primary-light: #f5f9ef;

/* =========================
   Couleurs secondaires
========================= */
$color-secondary: #2563eb; // bleu sélection
$color-accent: orange;

/* =========================
   Neutres
========================= */
$color-white: #ffffff;
$color-black: #000000;
$color-red: red;

/* =========================
   Texte
========================= */

$color-gray: #2c3e50;
$color-gray-900: #111827;
$color-gray-800: #1f2937;
$color-gray-700: #374151;
$color-gray-400: #9ca3af;
$color-gray-300: #d1d5db;
$color-gray-200: #e5e7eb;

/* =========================
   🧾 Backgrounds
========================= */
$bg-main: $color-white;
$bg-soft: #fcfdfb;

/* =========================
   🔲 Borders
========================= */
$border-default: $color-gray-300;
$border-light: $color-gray-200;
$border-primary: $color-primary-dark;

/* =========================
   ✨ Effects
========================= */
$shadow-createemployee: 0 10px 30px rgba(0, 0, 0, 0.08);
$shadow-button: 0 8px 20px rgba(138, 189, 36, 0.25);

/* Focus */
$focus-ring: 0 0 0 3px rgba(138, 189, 36, 0.2);

/*font variables */
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

/* Taille de média*/
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;
